<script src="js/changePassword.js"></script>
<form action="#" method="post">
    <table>
        <tr>
            <td><label for="oldPassword">Obecne hasło</label></td>
            <td><input type="password" name="oldPassword" id="oldPassword" required></td>
        </tr>
        <tr>
            <td><label for="newPassword">Nowe hasło</label></td>
            <td><input type="password" name="newPassword" id="newPassword" required></td>
        </tr>
    </table>
    <br>
    <input type="button" id="changeButton" name="change" value="Zmiana hasła" onclick="_changePassword(this.form)">
    <br>
    <br>
    <div id="changeInfo"></div>
    <script>
        var oldPasswordField = document.getElementById("oldPassword");
        var newPasswordField = document.getElementById("newPassword");

        oldPasswordField.addEventListener("keypress", function (evt) {
            if (evt.key === "Enter") {
                evt.preventDefault();
                document.getElementById("changeButton").click();
            }
        });
        newPasswordField.addEventListener("keypress", function (evt) {
            if (evt.key === "Enter") {
                evt.preventDefault();
                document.getElementById("changeButton").click();
            }
        });
    </script>
</form>
