html {
    background-color: #e8e8e8;
    height: 100%;
}

body {
    width: 80%;
    margin: 1% auto auto;
    min-height: 90%;
    height: 90%;
    background-color: #F5FFD7;
}

.content {
    background-color: #fffdfb;
    min-height: 100%;
}